.register-page {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .login-form {
        display: flex;
        flex-direction: column;


        .input {
            margin-top: 15px;
        }
        .Button{
            margin-top: 10px;
        }
    }

    .move-login-page {
        color: darkblue;
        margin-top: 10px;
    }
}

.register-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
